body{

margin:0;
font-family:Segoe UI;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

}


.sidebar{

position:fixed;

width:220px;

height:100vh;

background:#111827;

padding:20px;

}


.sidebar h2{

color:#fff;

margin-bottom:30px;

}


.sidebar ul{

list-style:none;

padding:0;

}


.sidebar li{

padding:10px 0;

color:#9ca3af;

cursor:pointer;

}


.main{

margin-left:240px;

padding:30px;

}


.title{

margin-bottom:20px;

}


.cards{

display:flex;

gap:20px;

margin-bottom:30px;

}


.card-box{

flex:1;

padding:20px;

border-radius:12px;

color:white;

}


.blue{

background:linear-gradient(45deg,#4facfe,#00f2fe);

}


.purple{

background:linear-gradient(45deg,#a18cd1,#fbc2eb);

}


.pink{

background:linear-gradient(45deg,#ff758c,#ff7eb3);

}


.table-card{

background:#1f2937;

padding:20px;

border-radius:12px;

margin-bottom:30px;

}


.form-card{

background:#1f2937;

padding:20px;

border-radius:12px;

width:400px;

}


.table{

color:white;

}